
# Ignore all files in the .idea directory
.idea/
.idea/*

# Ignore all files in the .vscode directory
.vscode/

# Ignore all files in the .model_checkpoints directory
model_checkpoints
model_checkpoints/*

# Ignore the datasets directory
datasets/
datasets/*

#Ignore sam2_configs directory
sam2_configs/
sam2_configs/*

# Ignore the segment-anything-2 directory
segment-anything-2/
segment-anything-2/*

# Ignore output directory
output/
output/*

# Ignore logs directory
logs/
logs/*
